<h1>Find out if a word is a palindrome!</h1>
<form action="/result">
  <div class="form-group">
     <label for="word">Enter word!
</label>
     <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Check</button>
</form>
